[submodule "poc-submodule-child-1"]
	path = poc-submodule-child-1
	url = https://github.com/mizuyi/poc-submodule-child-1.git
[submodule "poc-submodule-child-2"]
	path = poc-submodule-child-2
	url = https://github.com/mizuyi/poc-submodule-child-2.git
[submodule "poc-submodule-frontend"]
	path = poc-submodule-frontend
	url = https://github.com/mizuyi/poc-submodule-frontend.git
[submodule "poc-submodule-backend"]
	path = poc-submodule-backend
	url = https://github.com/mizuyi/poc-submodule-backend.git
